@model EmployeeFilterVM


<div class="w-100 card border-0 p-4">
	<div class="card-header bg-success bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">ಮ್ಯಾನ್ಯುಯಲ್ ಸ್ಕ್ಯಾವೆಂಜರ್ಸ್</h2>
			</div>
		</div>
	</div>
	<div class="card-body border p-4">
		<form method="post" enctype="multipart/form-data">
			<div class="row p-3">
				@* <div asp-validation-summary="ಎಲ್ಲಾ"></div>  *@
				<div class="mb-4">
					<label><strong>ಶೋಧಕಗಳು</strong></label>
				</div>
				<div class="col-12 pb-3 row">
					<div class="col-6 pb-3 col-md-3">
						<label>ಸ್ವಂತ ಮನೆ ಹೊಂದಿದ್ದಾರೆಯೇ?</label>
						<select asp-for="HasOwnHouse" class="form-control">
							<option value="">ಎಲ್ಲಾ</option>
							<option value="true">ಇದೆ</option>
							<option value="false">ಇಲ್ಲಾ</option>
						</select>
					</div>
					<div class="col-6 pb-3 col-md-3">
						<label>ನಿವೇಶನ ಹೊಂದಿದ್ದಾರೆಯೇ?</label>
						<select asp-for="HasSite" class="form-control">
							<option value="">ಎಲ್ಲಾ</option>
							<option value="true">ಇದೆ</option>
							<option value="false">ಇಲ್ಲಾ</option>
						</select>
					</div>
					<div class="col-6 pb-3 col-md-3">
						<label>ಶೌಚಾಲಯ ವ್ಯವಸ್ಥೆ ಇದೆಯೇ?</label>
						<select asp-for="HasToilet" class="form-control">
							<option value="">ಎಲ್ಲಾ</option>
							<option value="true">ಇದೆ</option>
							<option value="false">ಇಲ್ಲಾ</option>
						</select>
					</div>
					<div class="col-6 pb-3 col-md-3">
						<label>ವಿದ್ಯುತ್ ಶಕ್ತಿ ಸಂಪರ್ಕ ಇದೆಯೇ?</label>
						<select asp-for="HasElectricity" class="form-control">
							<option value="">ಎಲ್ಲಾ</option>
							<option value="true">ಇದೆ</option>
							<option value="false">ಇಲ್ಲಾ</option>
						</select>
					</div>
					<div class="col-6 pb-3 col-md-3">
						<label>ನೀರಿನ ಸಂಪರ್ಕ ಇದೆಯೇ?</label>
						<select asp-for="HasWaterConnection" class="form-control">
							<option value="">ಎಲ್ಲಾ</option>
							<option value="true">ಇದೆ</option>
							<option value="false">ಇಲ್ಲಾ</option>
						</select>
					</div>
					<div class="col-6 pb-3 col-md-3">
						<label>ಆಧಾರ್ ಕಾರ್ಡ್ ಹೊಂದಿದ್ದಾರೆಯೇ?</label>
						<select asp-for="HasAadharCard" class="form-control">
							<option value="">ಎಲ್ಲಾ</option>
							<option value="true">ಇದೆ</option>
							<option value="false">ಇಲ್ಲಾ</option>
						</select>
					</div>
					<div class="col-6 pb-3 col-md-3">
						<label>ಆಯುಷ್ಮಾನ್ ಭಾರತ್ ಕಾರ್ಡ್ ಇದೆಯೇ?</label>
						<select asp-for="HasAayushmannBharatCard" class="form-control">
							<option value="">ಎಲ್ಲಾ</option>
							<option value="true">ಇದೆ</option>
							<option value="false">ಇಲ್ಲಾ</option>
						</select>
					</div>
					<div class="col-6 pb-3 col-md-3">
						<label>ವಿಮೆ ಹೊಂದಿದ್ದಾರೆಯೇ?</label>
						<select asp-for="HasHealthInsurance" class="form-control">
							<option value="">ಎಲ್ಲಾ</option>
							<option value="true">ಇದೆ</option>
							<option value="false">ಇಲ್ಲಾ</option>
						</select>
					</div>
					<div class="col-6 pb-3 col-md-3">
						<label>ಪಡಿತರ ಚೀಟಿ ಇದೆಯೇ?</label>
						<select asp-for="HasRationCard" class="form-control">
							<option value="">ಎಲ್ಲಾ</option>
							<option value="true">ಇದೆ</option>
							<option value="false">ಇಲ್ಲಾ</option>
						</select>
					</div>
					<div class="col-6 pb-3 col-md-3">
						<label>ನರೇಗಾ ಜಾಬ್ ಕಾರ್ಡ್ ಇದೆಯೇ?</label>
						<select asp-for="HasNaregaJobCard" class="form-control">
							<option value="">ಎಲ್ಲಾ</option>
							<option value="true">ಇದೆ</option>
							<option value="false">ಇಲ್ಲಾ</option>
						</select>
					</div>
				</div>
				<div class="col-12 pb-3 col-md-3">
					<button type="submit" class="btn btn-primary w-100">ಶೋಧಕಗಳು</button>
				</div>
			</div>
		</form>
	</div>

	@if (Model.Employees != null && Model.Employees.Any())
	{
		<div class="card-body border p-4">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>
							ಹೆಸರು
						</th>
						<th>
							ಐ. ಡಿ. ನಂಬರ್
						</th>
						<th>
							ಗ್ರಾಮ
						</th>
						<th>
							ತಾಲ್ಲೂಕು
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var obj in Model.Employees)
					{
						<tr>
							<td>@obj.EmployeeName</td>
							<td>@obj.IdentityNumber</td>
							<td>@obj.Village</td>
							<td>@obj.Taluk.TalukName</td>
							<td>
								<div class="w-75 btn-group" role="group">
									<a asp-controller="Employee" asp-action="MasterDetails" asp-route-employeeId="@obj.EmployeeId"
									   class="btn btn-success mx-2">
										ವಿವರಗಳು
									</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}

</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}